
#root {
  height: 100vh;
  background: linear-gradient(rgb(204, 240, 255),rgb(255, 236, 201));
}
.root-content {
  display: flex;
  font-family: 'Poppins',sans-serif;
  height: 100%;
  flex-direction: row;
  font-family: 'Poppins',sans-serif;
}
:root {
  --nav-background-color: #f7f7f7;
  --secondary-text-color: #707c7e;
  --primary-color: #8ACDD6;
  --orange: rgb(255, 199, 95);
}
.temperature-container{
  padding: 2rem;
  margin: 1rem;
  width: 100%;
}
.left-nav-bar {
  background: var(--nav-background-color);
  height: auto;
  padding: 1rem;
  width: fit-content;
}
.left-heading > h2 {
  font-weight: 300;
  font-weight: bold;
  font-size: 30px;
}
.search-bar { 
  margin: 0.3rem;
  padding: 0.8rem;
  width: 300px;
  /* width: fit-content; */
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: solid 0.8px black; 
  &:focus{
    border: solid 0.5px var(--primary-color);
  }
}
.weather-data-container{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.main-temp-value {
  font-size: 3rem;
  font-weight: 300;
  color: var(--orange);
  font-weight: 600;
}
.main-temp-value > sup{
  font-size: 2rem; 
  margin: 0px;
  padding: 0px;
  
}
.main-temp-value > span {
  font-size: 1.5rem;
}

.main-temp-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes cloud-anim {
  0%{
    width: 0px;
    height: 0px
  }
  
  100%{
    width: 150px;
    height: 150px;
    filter: drop-shadow(10px 10px 10px rgb(206, 205, 205)); 
  }
}
.weather-icon{
  width: 150px;
  height: 150px;
  animation: cloud-anim 0.5s forwards 0.3s;
  
}

.location-name{
background: #8ACDD6;
width: fit-content;
color: white; 
padding: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 1rem;
}

.other-temp-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;

}

.temp-value {
  font-size: 15px;
  color: var(--secondary-text-color)
}
table{
  border: solid 1px var(--secondary-text-color);
}
td{
  border-bottom: dotted 1px var(--secondary-text-color);
  padding: 0.5rem; 
}
.temp-table{
  color: var(--secondary-text-color);
  border: solid 1px var(--secondary-text-color);
  flex-grow: 0.6;
  border-radius: 0.4rem; 
  width: fit-content;
  /* padding: 0.8rem; */
  
}

.results-container{
  position: absolute;
  top: 120px; 
  z-index: 100;
  background: white;
  width: 280px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 1rem;
  box-shadow: 1px 2px 10px lightgrey;
  border-radius: 0.4rem;
}

.flag-image{
  width: 4rem;
}
.clear-button{
  background: transparent;
  border: solid transparent;
  cursor: pointer;
}
.clear-button>img{
  width: 20px;
  height: 20px;
}
.result-card-container{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  border-bottom: solid 0.2px var(--nav-background-color);
  padding: 0.8rem;
  cursor: pointer;
}
.search-bar-container{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.country-name-container{
  color: var(--secondary-text-color);
}

.location-container {
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center; 
}

.temp-min-max {
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.about-container{
  position: fixed;
  bottom: 0px;
  left:0px;
  color: var(--secondary-text-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  padding-bottom: 0.1rem;
}


@media (max-width:600px) {
  .root-content{
    flex-direction: column;
    height: auto;
  }
  .about-container{
    width: 100%;
  }
  .left-nav-bar{
    height: fit-content;  
    display: flex;
    width: auto;
    justify-content: center;
  }
  .left-heading {
    display: none;
  }
  
  .search-bar {
    margin: 0px;
    width: 300px;
    background: white;
  }
  .temperature-container{
    padding: 0px;
  }
  .results-container{
    width: 300px;
    max-height: 300px;
    position: absolute;
    top: 70px; 
  }
}

